#particles-js {
  height: 100vh;
  width: 100vw;
}

body {
  background-image: linear-gradient(to bottom, #252627, #2b383e, #2d4b52, #2d5f62, #32746d);
  font-family: $body-font;
}

button {
  font-family: $body-font;
  letter-spacing: 1.2px;
}

h1 {
  line-height: 1.0;
}

h1, h3 {
  font-weight: lighter;
  letter-spacing: 1.2px;
}

p {
  line-height: 1.8;
}

a {
  text-decoration: none;
}

.welcome {
  font-size: 28px;
  position: absolute;
  top: 25%;
  left: 20%;
  color: $white;
}

.contact-me {
  width: 150px;
  height: 40px;
  margin-top: 45px;
  color: $white;
  background: transparent;
  border: 2px solid $accent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-size: 18px;
  transition: 0.5s ease;
  &:hover {
    border-radius: 25px;
    transition: 0.5s ease;
    background: $accent;
    font-size: 19px;
  }
}

.media-references {
  position: absolute;
  right: 3%;
  top: 5%;
  height: 75px;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.find-me-on{
  color: white;
  font-family: $body-font;
  font-size: 18px;
}

.icons {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.icon {
  color: $white;
  font-size: 30px;
  transition: ease 0.1s;
  &:hover{
    transform: scale(1.2);
    color: $accent;
  }
}

/* Style for page 2 */
.page-2 {
  height: 100vh;

  .my-projects {
    width: 90vw;
    color: $white;
    margin-left: 50%;
    margin-right: auto;
    transform: translate(-50%, 0);
  }

  .project {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .project-description {
    width: 50%;
    text-align: center;
    font-size: 18px;
  }
}

/* Style for page 3 */
.page-3 {
  height: 100vh;
}
