// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$black: #000000;
$gray: #999999;
$light-gray: #F4F4F4;

$white: #F7F7FF;
$accent: #D0DB97;

// gradient colors:
$blue1: #252627;
$blue2: #2b383e;
$blue3: #2d4b52;
$blue4: #2d5f62;
$blue5: #32746d;
